html body {
    font-family: 'Kanit', sans-serif;
    background-color: rgb(255, 240, 221);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 160, 160);
    color: aliceblue;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.267)
}

.logo a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: x-large;
    
}

.menu a {
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 20px;
}

.main{
    max-width: 900px;
    margin: auto;
}

.Contact {
    margin-top: 70px;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    background-color: white;
    padding: 50px;
    margin: 50px;
    display: inline-block;
    box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.267)
}

.Contact a {
    font-size: 40px;
    font-weight: 600;
    background-color:rgb(255, 134, 134);
    color: white;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 5px 4px 10px  rgba(0, 0, 0, 0.267)
}

.content {
    display: flex;
    margin-top: 20px;
    justify-content: left;  
    flex-wrap: wrap;
}

.big {
    font-weight: 600;
    font-size: 20px;
    margin-right: 15px;
    text-decoration: underline;
}

.small {
    font-size: 20px;
    margin-right: 40px;
    color: rgb(208, 61, 61);
}